<div class="container app-search">
    <div class="row job-search-form">
        <div class="col-md-5">
            <b>Job Description</b>
            <input type="text" class="form-control" ng-model="query.description" dir-on-enter="search()"/>
        </div>
        <div class="col-md-5">
            <b>Location</b>
            <input type="text" class="form-control" ng-model="query.location" dir-on-enter="search()"/>
        </div>
        <div class="col-md-2">
            <br/>
            <button class="btn btn-primary" ng-click="search()">Search</button>
        </div>
        <div class="col-md-12">
            <br/>
            <input type="checkbox" id="search_fulltime" class="checkbox" ng-model="query.fulltime"/>
            <label for="search_fulltime">
                <b>Full Time Only</b>
            </label>
        </div>
    </div>
    <div ng-if="results.length" class="row job-listing">
        <div class="col-md-12">
            <h4>
                Showing {{ results.length }} {{ results.length===1 ? 'job' : 'jobs' }}
                {{ filters.location ? 'near ' + filters.location : '' }}
            </h4>
        </div>
        <div ng-repeat="job in results" class="row col-md-12 job-item">
            <div class="col-md-9">
                <h5 class="link" ng-click="showJob(job.id)">{{ job.title }}</h5>
                <a ng-href="{{ job.company_url }}" target="_blank">{{ job.company }}</a>
                <span>Full Time</span>
            </div>
            <div class="col-md-3">
                <div>{{ job.location }}</div>
                <div>{{ formatTime(job.created_at) }}</div>
            </div>
            <div ng-if="isPreviewVisible(job.id)" class="row col-md-12 job-item-preview">
                <div class="col-md-12">
                    <button class="btn btn-danger pull-right link fa fa-times" ng-click="hideJob(job.id)">Close</button>
                </div>
                <div class="col-md-8">
                    {{ job.type }} /  {{ job.location }}
                    <h4>{{ job.title }}</h4>
                    <p>{{ job.description }}</p>
                </div>
                <div class="col-md-4">
                    <h4>{{ job.company }}</h4>
                    <img ng-src="{{ job.company_logo }}"/>
                    <div>
                        <b>How to Apply</b>
                    </div>
                    <div>
                        Apply Here: <a ng-href="{{ job.url }}" target="_blank">{{ job.url }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
